@import "src/assets/scss/base/_variables";

.banner-section {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    // url("../../../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* <------ */
    background-position: center center;
    form {
        position: relative;
    }
    .banner-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0px 15px;
        .banner-title {
            color: $light;
            h1 {
                font-size: 35px;
                margin: 0;
            }
            .sub-title {
                margin-bottom: 17px;
                font-size: 16px;
            }
        }

        .sub-title {
            font-size: 13px;
        }
    }

}

@keyframes skeleton-loading {
    0% {
        background-color: rgb(139, 139, 139)
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.galery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
    max-width: 1600px;
    margin: 25px auto;
    padding: 0px 15px;

    .item  {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 300px;
        position: relative;

        .galery-item {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
            
            &:hover + .image-info-box {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    
    .img-skeleton {
        width: 100%;
        height: 100%;
        opacity: .7;
        animation:  skeleton-loading 1s linear infinite alternate;
    }
    .image-info-box {
        position: absolute;
        width: 100%;
        height: 300px;
        cursor: pointer;
        background-color: rgba(71, 71, 71, 0.43);
        opacity: 0;
        visibility: hidden;
        transition: .2s ease-in-out;

        &:hover {
            display: block;
            opacity: 1;
            visibility: visible;
        }
        .user {
            display: flex;
            align-items: center;
            color: $light;
            position: absolute;
            left: 3%;
            bottom: 5%;
            text-transform: capitalize;
            img {
                border-radius: 100%;
                margin-right: 10px;
            } 
        }

        .download-button {
            background: $light;
            border-radius: 4px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            position: absolute;
            bottom: 5%;
            right: 3%;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                img {
                    opacity: 1;
                }
            }
            img {
                transition: .2s ease-in-out;
                width: 22px;
                opacity: .6;
            }
        }
    }
}

.info-mobile {
    display: none;
}

.below-info-mobile {
    display: none;
}


@media only screen and (max-width: 866px) {
    .img-skeleton {
        min-height: 300px;
        margin-top: 170px;
    }

    .image-info-box {
        display: none;
    }

    .item {
        margin-bottom: 50px;
        margin-top: 15px;
        .galery-item {
            min-height: 300px;
        }
    }
    
    .info-mobile {
        display: block;
        display: flex;
        align-items: center;
        margin-top: 40px;
        margin-right: auto;
        height: fit-content;
        margin-bottom: 17px;
        img {
            margin-right: 10px;
            border-radius: 100%;
        }
    }

    .below-info-mobile {
        display: block;
        margin-top: 10px;
        margin-left: auto;
        border: 1px solid $grey;
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 5px;
        transition: .2s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $dark;
        img {
            width: 20px;
            margin-right: 5px;
        }
        &:hover {
            background: $grey;
        }
    }
}
  
@media only screen and (max-width: 450px) {
    .galery-container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
  